:root{
    --vermelho: #e50914;
    --preta: #141414;
   
}


* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
header .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    

}
header .logo{
    color: var(--vermelho);
    font-family: 'arial black', Times;
    margin-left: 5px;
    font-size: 40px;
}

header nav a{
text-decoration: none;
color: #aaa;
margin-right: 10px;

}
header nav a:hover{
    color: #fff;
}

/*filme principal*/
.Filme-principal{
    font-size: 18px;
background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%), url('/Img/back.jpg');
    
height: 400PX;
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
    
    }

.filme-principal .descricao{
        margin-top: 10px;
        margin-bottom: 40px;
    }
    